<script>


  function validar(){

alert("Se ha descargado el reporte exitosamente! ");

  }

</script>


<div class="container mt-5">
  <div class="row">
    <div class="col-md-7">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td>Id</td>
            <td>Nombre</td>
            <td>Descripcion</td>
          </tr>
        </thead>
        <tbody>
            {{#each pruebas}}
              <tr>
                <td> {{ idprueba }} </td>
                <td> {{ nombreprueba }} </td>
                <td> {{ descripcionprueba }} </td>
                <td>
                  <a href="/pruebas/edit/{{ idprueba }}" class="btn btn-info">Edit</a>
                  <a href="/pruebas/delete/{{ idprueba }}" class="btn btn-danger">Delete</a>
                  <button type="submit" href="/pruebas/reporte/{{ idprueba }}" class="btn btn-dark" onclick="return validar();">Reporte
                  </button>
                </td>
              </tr>
             {{else}} 
               <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay registros de pruebas </p>
                <a href="/pruebas/list">Agrega un registro!</a>
            </div>
              </div>
            {{/each}}
        </tbody>
      </table>
    </div>
   
  </div>

 <a href="/pruebas/reporte" class="btn btn-success">Reporte general</a>
</div>
